node_modules/

dist/
.angular/
tmp/
out-tsc/

src/environments/environment.prod.ts
src/environments/environment.ts
public/assets/

.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
*.swp
*.bak
.DS_Store
Thumbs.db

/coverage

npm-debug.log*
